.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 30vh auto auto;
  margin: 10px;
  gap: 1%;
  color: #111d5e;
  font-family: 'Raleway', sans-serif;
}

header {
  grid-area: 1/1/auto/13;
  background-image: url('../images/background-image.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.wrapper {
  grid-area: 2/1/auto/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 10px;
}

footer {
  grid-area: 3/1/auto/13;
  font-family: 'Redressed', cursive;
  color: #111d5e;
  text-align: center;
  padding: 8px;
}

.wrapper main {
  grid-area: 1/1/auto/13;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
}

.wrapper aside {
  grid-area: 2/1/auto/13;
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.logo {
  font-family: 'Redressed', cursive;
  text-decoration: none;
  color: #c70039;
  text-align: center;
}

nav .logo {
  font-size: 30px;
  width: 100%;
}

nav ul a {
  text-decoration: none;
  color: #111d5e;
  text-transform: uppercase;
}

nav ul a.active,
nav ul a:hover {
  border-bottom: 2px solid #f37121;
}

nav ul a.active {
  color: #f37121;
}

.blog-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  padding: 8px;
}

.blog-card .blog-card-image {
  grid-column: 1/3;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.blog-card .blog-card-body {
  grid-column: 3/6;
  margin-left: 5px;
}

.blog-card .blog-card-body:hover h3 {
 text-decoration: underline;
}

.blog-card .blog-card-body:hover img {
  transform: scale(1.1);
 }

.blog-card img {
  width: auto;
  min-height: 100%;
  height: 100%;
}

.blog-card img:hover {
  transform: scale(1.1);
}

.blog-card .blog-card-body:hover img {
  transform: scale(1.1);
 }

h3 {
  color: #c70039;
  text-transform: uppercase;
}

.blog-card p {
  margin: 15px 0;
}

.blog-card button{
  background-color: #c70039;
  border: 1px solid #c70039;
  font-family: 'Raleway', sans-serif;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  text-transform: capitalize;
}

.blog-card button a{
  color: #fff;
  text-decoration: none;
}

.blog-card button:hover,
.blog-card button:focus {
  transform: scale(1.03);
  background-color: #f16c19;
  border: 1px solid #f16c19;
  outline: 0;
}

.blog-card:not(:last-child),
.recent-post1:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

aside section {
  background-color:#eee;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}

.author-image,
.recent-post-img-container {
  width: 75%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 auto;
}

.recent-post-img-container {
  height: 200px;
}

aside h3,
aside h4 {
  text-align: center;
  text-transform: uppercase;
  color: #c70039;
  font-family: inherit;
}

.recent-post .recent-post-title,
.about-author .author-description {
  padding-top: 8px;
}

.about-author {
  margin-bottom: 8px;
} 

.recent-post1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: #dbf16c;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.footer .logo {
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.footer ul {
  list-style-type: none;
  margin-bottom: 15px;
}

.footer .social-media-link {
  color: #f16c19;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.footer .social-media-link:hover {
  text-decoration: underline;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width:900px) {
  nav .logo {
    text-align: unset;
  }

  .wrapper main {
    grid-area: 1/1/auto/9;
  }
  
  .wrapper aside {
    grid-area: 1/9/auto/13;
  }

  aside section {
    padding: 10px;
  }

  .blog-card img {
    width: 100%;
    height: auto;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Large Screens */
@media (min-width:901px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav .logo {
    width: 30%;
  }
  
  nav ul {
    width: 70%;
    margin-top: unset;
  }

  .wrapper main {
    grid-area: 1/1/auto/9;
  }
  
  .wrapper aside {
    grid-area: 1/9/auto/13;
  }

  
aside section {
  padding: 50px;
}

  .blog-card img {
    width: 100%;
    height: auto;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
