@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Redressed&display=swap');
@import 'home.css';
@import 'blogpost.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.max-width {
  max-width: 1500px;
  margin: 0 auto;
}